# Python package dependencies

requests
pydantic
openai
google
google-generativeai
groq
dotenv
python-dotenv
Flask
flask_sqlalchemy
SQLAlchemy
Flask-Login
Flask-Limiter
flask-swagger-ui
Werkzeug
langchain
langchain_chroma
langchain_openai
pydantic_ai
langfuse